#reviewOrder, #detailedOrder, #addressDelivery {
  display: none;
}

.pizzaList {
  cursor: pointer;
  color: #0088cc;
}

.pizzaList:hover {
  text-decoration: underline;
}

.background {
  background-color: #FA8072;
}
img {
  border: solid  5px #3CB371;
  margin: 30px;
}
